body {
    background-color: #2f5a84;
}

header {
    background-color: aliceblue;
}

h1, h2 {
    color: aliceblue;
}

h3 {
    color: ##00000071;
}


#forecast-container {
    background-color: #00000071;
    color: aliceblue;
    border-left: groove;
    border-right: groove;
    display: flex;
    margin-left: auto;
}

.fit-content {
    display: inline-block;
}

.h2-date {
    border-bottom: groove;
}

.five-day-body {
    border-left: groove;
    border-right: groove;
    padding: 15px;
}

#current-weather-card {
    background-color: #00000071;
    color: aliceblue;
    border: groove;
    display: flex;
}

#current-weather-container {
    display: inline-block;
}

#user-form {
    border: 3px;
    border-bottom: 0;
    border-style: groove;
    padding: 10px;

}

.current-city-header {
    padding: 20px;
}